@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, pastel;
}

html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
