@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, pastel;
}
@plugin "daisyui/theme" {
  name: "pastel";
  default: true;
  --color-primary: oklch(0.8 0.1 257);
  --color-primary-content: oklch(0.98 0.01 257);
  --color-secondary: oklch(0.75 0.14 326);
  --color-secondary-content: oklch(0.98 0.01 326);
  --color-accent: oklch(0.75 0.12 22);
  --color-accent-content: oklch(0.98 0.01 22);
}

html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  font-family: var(--font-m-plus-rounded-1c), var(--font-geist-sans), var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
